{% extends 'base.html.twig' %}

{% block title %}ServiceOffer{% endblock %}

{% block body %}
    <h1>ServiceOffer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_offer.id }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{{ service_offer.dateCreated ? service_offer.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ service_offer.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_service_offer_index') }}">back to list</a>

    <a href="{{ path('app_service_offer_edit', {'id': service_offer.id}) }}">edit</a>

    {{ include('service_offer/_delete_form.html.twig') }}
{% endblock %}
